// .page {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     gap: 50px;
//     min-height: 100vh;
//     font-family: sans-serif;
//     background-color: #292932;
// }

// .page-title {
//     font-size: 96px;
//     font-weight: 600;
//     color: #fafafb;
// }
@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

body {
    @extend %main-text;

    font-family: var.$main-font, sans-serif;
    color: fn.get-color('light-tertiatry');
    background-color: fn.get-color('dark-primary');
}

button{
    font-family: inherit;
    color: fn.get-color('current');
    cursor: pointer;
}

summary {
    list-style-type: none;
}